<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <h3>{{screamIt welcomeMessage}}</h3>
        <p>Some many small code here</p>
       {{> footer}}
    </body>
</html>
